* {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

.flex-container {
    display: flex;
}

.wrapper {
    margin: 50px auto;
    background-color: #fff;
    width: 500px;
    height: auto;
}

.header {
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.fa-instagram {
    margin-right: 10px;
}

.fa-ellipsis-v {
    margin-left: auto;
}

h1, h2, p, strong {
    font-size: 1.7rem;
}

img {
    width: 100%;
    height: auto;
}

.icons {
    align-items: center;
}

.content {
    flex-direction: column;
    padding: 15px;
}

.icons {
    padding-bottom: 15px;
}

.fa-comment, .fa-paper-plane {
    margin-left: 10px;
}

.fa-bookmark {
    margin-left: auto;
}

.likes {
    padding-bottom: 15px;
}